version: '3.2'

services:

  frontend:
    build:
      context: frontend
      dockerfile: ./docker/app/Dockerfile
    ports:
      - 20080:80
    volumes:
      # Re-use local composer cache via host-volume
      - ~/.composer-docker/cache:/root/.composer/cache:delegated
      # Mount source-code for development
      - ./:/app

  backend:
    build:
      context: backend
      dockerfile: ./docker/app/Dockerfile
    ports:
      - 21080:80
    volumes:
      # Re-use local composer cache via host-volume
      - ~/.composer-docker/cache:/root/.composer/cache:delegated
      # Mount source-code for development
      - ./:/app

  mysql:
    image: mysql:8.0
    ports:
      - 3309:3306
    environment:
      - MYSQL_ROOT_PASSWORD=1hHpfA%ew1
      - MYSQL_DATABASE=test_yii2
      - MYSQL_USER=nik
      - MYSQL_PASSWORD=1hHpfA%ew1

  #pgsql:
  #  image: postgres:9.5
  #  environment:
  #    - POSTGRES_DB=yii2advanced
  #    - POSTGRES_USER=yii2advanced
  #    - POSTGRES_PASSWORD=secret
  cron_job:
    build:
      context: backend/docker/cron
      dockerfile: Dockerfile
    volumes:
      - ./:/app